.11_101 { 
	overflow:hidden;
}.e11_101 { 
	background-color:rgba(255, 255, 255, 0.699999988079071);
	width:1920px;
	height:1280px;
	position:absolute;
}.e11_102 { 
	width:1920px;
	height:1280px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_103 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 0.6000000238418579);
	width:1920px;
	height:1280px;
	position:absolute;
	left:0px;
	top:0px;
}.e90_14 { 
	background-color:rgba(0, 0, 0, 0.6000000238418579);
	width:1919.115966796875px;
	height:1155px;
	position:absolute;
	left:0px;
	top:125px;
	border-radius:Symbol(figma.mixed)px;
}.e11_106 { 
	background-color:rgba(0, 0, 0, 0.699999988079071);
	width:1920px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_120 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1766px;
	top:54px;
}.e11_121 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1822px;
	top:54px;
}.e90_75 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1713px;
	top:53px;
}.e11_122 { 
	width:37px;
	height:37px;
	position:absolute;
	left:1716px;
	top:56px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_123 { 
	width:31px;
	height:31px;
	position:absolute;
	left:1772px;
	top:59px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_124 { 
	width:33px;
	height:33px;
	position:absolute;
	left:1827px;
	top:59px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_6 { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:70px;
	position:absolute;
	left:563px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_7 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:1194px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_8 { 
	color:rgba(255, 255, 255, 1);
	width:212px;
	height:48px;
	position:absolute;
	left:953px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_9 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:96px;
	position:absolute;
	left:767px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e19_30 { 
	width:379px;
	height:500px;
	position:absolute;
	left:1439px;
	top:320px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_32 { 
	color:rgba(255, 255, 255, 1);
	width:1305px;
	height:220px;
	position:absolute;
	left:134px;
	top:313px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e19_33 { 
	color:rgba(255, 255, 255, 1);
	width:1241px;
	height:57px;
	position:absolute;
	left:134px;
	top:570px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:48px;
	letter-spacing:0;
}.e90_5 { 
	width:176px;
	height:151px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_6 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:52px;
	position:absolute;
	left:127px;
	top:90px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e90_7 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:52px;
	position:absolute;
	left:127px;
	top:38px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e90_54 { 
	color:rgba(255, 255, 255, 1);
	width:715px;
	height:57px;
	position:absolute;
	left:134px;
	top:640px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:48px;
	letter-spacing:0;
}.e90_55 { 
	color:rgba(255, 255, 255, 1);
	width:833px;
	height:57px;
	position:absolute;
	left:134px;
	top:703px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:48px;
	letter-spacing:0;
}.e90_56 { 
	color:rgba(255, 255, 255, 1);
	width:664px;
	height:58px;
	position:absolute;
	left:134px;
	top:766px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:48px;
	letter-spacing:0;
}.e90_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:1790px;
	height:581px;
	position:absolute;
	left:63px;
	top:285px;
	border-radius:67px;
}