.11_128 { 
	overflow:hidden;
}.e11_128 { 
	background-color:rgba(255, 255, 255, 0.699999988079071);
	width:1920px;
	height:1280px;
	position:absolute;
}.e11_129 { 
	width:1920px;
	height:1280px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_130 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 0.6000000238418579);
	width:1920px;
	height:1280px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_131 { 
	background-color:rgba(0, 0, 0, 0.6000000238418579);
	width:1919.115966796875px;
	height:1155px;
	position:absolute;
	left:0px;
	top:125px;
	border-radius:Symbol(figma.mixed)px;
}.e11_133 { 
	background-color:rgba(0, 0, 0, 0.699999988079071);
	width:1920px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_146 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1713px;
	top:53px;
}.e11_147 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1766px;
	top:54px;
}.e11_148 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1822px;
	top:54px;
}.e11_149 { 
	width:37px;
	height:37px;
	position:absolute;
	left:1716px;
	top:56px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_150 { 
	width:31px;
	height:31px;
	position:absolute;
	left:1772px;
	top:59px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_151 { 
	width:33px;
	height:33px;
	position:absolute;
	left:1827px;
	top:59px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_245 { 
	color:rgba(255, 255, 255, 1);
	width:576px;
	height:80px;
	position:absolute;
	left:124px;
	top:270px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:96px;
	letter-spacing:0;
}.e15_259 { 
	width:683px;
	height:480px;
	position:absolute;
	left:225px;
	top:744px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e15_264 { 
	width:669px;
	height:649px;
	position:absolute;
	left:1226px;
	top:216px;
	border-radius:Symbol(figma.mixed)px;
}.e15_266 { 
	color:rgba(255, 255, 255, 1);
	width:459px;
	height:107px;
	position:absolute;
	left:1154px;
	top:879px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:40px;
	letter-spacing:0;
}.e15_270 { 
	color:rgba(255, 255, 255, 1);
	width:841px;
	height:53px;
	position:absolute;
	left:1010px;
	top:782px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:70px;
	letter-spacing:0;
}.e15_267 { 
	color:rgba(255, 255, 255, 1);
	width:677px;
	height:98px;
	position:absolute;
	left:1154px;
	top:924px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:40px;
	letter-spacing:0;
}.e15_268 { 
	color:rgba(255, 255, 255, 1);
	width:677px;
	height:66px;
	position:absolute;
	left:1154px;
	top:973px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:40px;
	letter-spacing:0;
}.e15_269 { 
	color:rgba(255, 255, 255, 1);
	width:677px;
	height:89px;
	position:absolute;
	left:1154px;
	top:1016px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:40px;
	letter-spacing:0;
}.e18_10 { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:70px;
	position:absolute;
	left:563px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_11 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:1194px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_12 { 
	color:rgba(255, 255, 255, 1);
	width:212px;
	height:48px;
	position:absolute;
	left:953px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e18_13 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:96px;
	position:absolute;
	left:767px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e19_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:1198px;
	height:408px;
	position:absolute;
	left:87px;
	top:280px;
	border-radius:67px;
}.e19_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.05000000074505806);
	width:638px;
	height:327px;
	position:absolute;
	left:1117px;
	top:769px;
	border-radius:67px;
}.e81_3 { 
	color:rgba(255, 255, 255, 1);
	width:1131px;
	height:349px;
	position:absolute;
	left:134px;
	top:407px;
	font-family:Alegreya Sans SC;
	text-align:justified;
	font-size:40px;
	letter-spacing:0;
}.e90_2 { 
	width:176px;
	height:151px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e90_3 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:52px;
	position:absolute;
	left:127px;
	top:90px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e90_4 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:52px;
	position:absolute;
	left:127px;
	top:38px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}