.5_15 { 
	overflow:hidden;
}
.e5_15 { 
	background-color:rgba(255, 255, 255, 0.699999988079071);
	width:1920px;
	height:1280px;
	position:absolute;
}
.e5_14 { 
	width:1920px;
	height:1280px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_16 { 
	background-color:rgba(115.81250354647636, 115.81250354647636, 115.81250354647636, 0.6000000238418579);
	width:1920px;
	height:1280px;
	position:absolute;
	left:0px;
	top:0px;
}
.e19_25 { 
	background-color:rgba(0, 0, 0, 0.6000000238418579);
	width:1921px;
	height:1155px;
	position:absolute;
	left:0px;
	top:125px;
	border-radius:Symbol(figma.mixed)px;
	background-size: cover;
}
.e6_46 { 
	color:rgba(255, 255, 255, 1);
	width:972px;
	height:144px;
	position:absolute;
	left:99px;
	top:788px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	background-size: cover;
}
.e5_24 { 
	background-color:rgba(0, 0, 0, 0.699999988079071);
	width:1920px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
	background-size: cover;
}
.e15_276 { 
	width:176px;
	height:151px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-size: cover;
}
.e5_17 { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:70px;
	position:absolute;
	left:563px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	background-size: cover;
}
.e7_70 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:48px;
	position:absolute;
	left:1194px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	background-size: cover;
}
.e5_20 { 
	color:rgba(255, 255, 255, 1);
	width:212px;
	height:48px;
	position:absolute;
	left:953px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e5_21 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:96px;
	position:absolute;
	left:767px;
	top:51px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e6_47 { 
	color:rgba(255, 255, 255, 1);
	width:579px;
	height:216px;
	position:absolute;
	left:99px;
	top:388px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:90px;
	letter-spacing:0;
	background-size: cover;
}
.e6_48 { 
	color:rgba(255, 0, 0, 1);
	width:840px;
	height:108px;
	position:absolute;
	left:219px;
	top:477px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:90px;
	letter-spacing:0;
}
.6_59 { 
	border:3px solid rgba(255, 0, 0, 1);
}
.e6_59 { 
	width:878.1074829101562px;
	height:1.1368683772161603e-13px;
	position:absolute;
	left:98px;
	top:682px;
	border-radius:16px;
}
.e6_60 { 
	background-color:rgba(255, 0, 0, 0.7799999713897705);
	width:383px;
	height:91px;
	position:absolute;
	left:88px;
	top:983px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
}
.e7_71 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1713px;
	top:53px;
}
.e7_72 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1766px;
	top:54px;
}
.e7_73 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:42px;
	position:absolute;
	left:1822px;
	top:54px;
}
.e12_207 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:59px;
	position:absolute;
	left:159px;
	top:1005px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e7_79 { 
	width:37px;
	height:37px;
	position:absolute;
	left:1716px;
	top:56px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_81 { 
	width:31px;
	height:31px;
	position:absolute;
	left:1772px;
	top:59px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_83 { 
	width:33px;
	height:33px;
	position:absolute;
	left:1827px;
	top:59px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_24 { 
	width:751px;
	height:452px;
	position:absolute;
	left:1092px;
	top:456px;
	border-top-left-radius:287px;
	border-top-right-radius:287px;
	border-bottom-left-radius:287px;
	border-bottom-right-radius:287px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_42 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:52px;
	position:absolute;
	left:127px;
	top:90px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e5_41 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:52px;
	position:absolute;
	left:127px;
	top:38px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e81_2 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:58px;
	position:absolute;
	left:685px;
	top:419px;
	font-family:Alegreya Sans SC;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}